<section id="container_informe" th:fragment="administradorInforme"  >
    <h2>Informe</h2>

    <div class="cardsInforme">

        <div class="cardInforme">
            <h3>Usuarios <span th:text="${cantidadUsuarios}"></span> </h3>
            <hr>
            <p>Activos: <span th:text="${cantidadUsuariosActivos }"></span></p>
            <p>Inactivos: <span th:text="${cantidadUsuariosInactivos}"></span></p>
            <p>Clientes: <span th:text="${cantidadUsuariosTipoUsuario}"></span></p>
            <p>Administradores: <span th:text="${cantidadUsuariosTipoAdministrador}"></span></p>

        </div>

        <div class="cardInforme">
            <!-- promedio de trnsacciones,usuarios con metas, Cumplimiento de metas -->
            <h3>Actividad de usuarios </h3>
            <hr>
            <p>Bolsillos creados: <span th:text="${cantidadBolsillos}"></span></p>
            <p>Total dinero: $<span th:text="${#numbers.formatInteger(totalDineroCuentas,3, 'POINT')}"></span></p>
            <p>Saldo promedio: $<span th:text="${#numbers.formatInteger(promedioDineroCuentas,3, 'POINT')}"></span></p>
            <p>Total en transacciones: $<span th:text="${#numbers.formatInteger(totalDineroTransacciones,3, 'POINT')}"></span></p>


        </div>

        <div class="cardInforme">
            <!-- cuentas activas,bosiilos creados, saldo promedio,total dinero-->
            <h3>Análisis de cuentas</h3>
            <hr>
            <p>Cuentas creadas: <span th:text="${cantidadCuentasCreadas}"></span></p>
            <p>Cuentas Activas: <span th:text="${cantidadCuentasActivas}"></span></p>
            <p>Usuarios con metas: <span th:text="${cantidadCuentasConMetas}"></span></p>
            <p>Cumplimiento de metas: <span th:text="${cantidadCuentasCumplenMetaAhorro}"></span></p>

        </div>

        <div class="cardInforme">
            <!-- total transacciones,depositos,tranferencias,retiros -->
            <h3>Movimientos</h3>
            <hr>
            <p>Cantidad de transacciones: <span th:text="${cantidadTransacciones}"></span></p>
            <p>Cantidad de retiros:  <span th:text="${cantidadRetiros}"></span></p>
            <p>Cantidad de depósitos: <span th:text="${cantidadDepositos}"></span></p>
            <p>Cantidad de transferencias: <span>1000</span></p>
        </div>


    </div>


</section     >

<section id="container_consejos" th:fragment="consejosAdministrador" >
    <h2>Consejos</h2>

    <div class="cardsConsejos">

        <div class="cardConsejo">
            <p>"Recuerda que los logros más significativos se construyen sobre una base de perseverancia.
                No te rindas ante los obstáculos; mira más allá y mantén tu enfoque."</p>
        </div>
        <div class="cardConsejo">
            <p>"La toma de decisiones informadas es clave.
                Tómate el tiempo necesario para recopilar datos, analizar situaciones y elegir sabiamente, guiado por tu
                visión y valores."</p>
        </div>

        <div class="cardConsejo">
            <p>"La creatividad es una habilidad valiosa en cualquier profesión. Busca nuevas formas de abordar los
                desafíos, experimenta con nuevas ideas y mantén una mente abierta."</p>
        </div>
        <div class="cardConsejo">
            <p>"La planificación es clave para alcanzar tus metas. Establece objetivos claros, define un plan de acción y
                haz un seguimiento de tu progreso para asegurarte de estar en el camino correcto."</p>
        </div>

    </div>
</section>