<section id="container_informe"  th:fragment="usuarioInforme">
  <h2>Informe</h2>

  <div class="cardsInforme">

    <div class="cardInforme">
      <h3>Meta de ahorro </h3>
      <hr>
      <p> Total meta: $<span>10000000</span></p>
      <p>Progreso: $<span>5000000</span></p>
      <div id="progreso">
        <p>Completado <span>50<span>%</span></span></p>
        <progress id="file" max="100" value="50"></progress>
      </div>
    </div>

    <div class="cardInforme">
      <!-- titulo: Movimientos,p:Depositos: 5000000,Tranferencias: 50000, Retiros: 200000, Balane neto: 500000 -->
      <h3>Movimientos</h3>
      <hr>
      <p>Depósitos: $<span>5000000</span></p>
      <p>Transferencias: $<span>50000</span></p>
      <p>Retiros: $<span>200000</span></p>
      <p>Balance neto: $<span>500000</span></p>
    </div>


  </div>


</section>

<section id="container_consejos"th:fragment="consejosUsuario" >
  <h2>Consejos</h2>

  <div class="cardsConsejos">

    <div class="cardConsejo">
      <p>"Tus metas son como estrellas en el cielo nocturno:
        guían tu camino. No importa cuán lejos estén, puedes alcanzarlas una a una."</p>
    </div>
    <div class="cardConsejo">
      <p>"Piensa en tus depósitos como semillas.
        Con el tiempo, crecerán y te brindarán frutos en forma de oportunidades y seguridad financiera."</p>
    </div>

    <div class="cardConsejo">
      <p>"No se trata solo de números, sino de las historias que esos números pueden contar."" </p>
      <p>Tu historia financiera está en tus manos.</p>
    </div>
    <div class="cardConsejo">
      <p>"Cada retiro es una elección importante. Antes de hacerlo, pregúntate: ¿Este gasto me acerca o me aleja de mis objetivos?"</p>
    </div>

  </div>
</section>