<div class="card" th:fragment="cardInformation">
  <div class="card-front"  th:object="${cuenta}">
    <div class="card-Information" >
      <p class="card-number"  th:text="'**** **** ' + ${ultimosDigitosNumeroCuenta}"></p>
      <p class="card-expiry" th:text="${cuenta.fechaCreacion}"></p>
    </div>
    <div class="card-balance">
      <div class="saldo-disponible">
        <p>Saldo disponible</p>
        <span th:text="'$' + ${#numbers.formatInteger(saldoDisponible,3, 'POINT')}"></span>
      </div>
      <div class="saldo-total">
        <p>Total:</p>
        <span th:text="'$' + ${#numbers.formatInteger(cuenta.saldo,3, 'POINT')}"></span>
      </div>
    </div>
  </div>

  <div class="card-back">
    <div class="card-cvc">
      <!-- <p class="card-type">Mastercard</p> -->
      <p class="card-type" th:text="${cuenta.tipoCuenta}"></p>
      <p class="cvc-title" th:text="'CVC - '+${cuenta.cvc}"></p>
    </div>

    <p class="card-holder" th:text="${cuenta.usuarioId.nombre}"></p>
    <p class="card-bank">Makaia Bank</p>
    <hr>
    <hr>
  </div>
</div>