<div class="card" th:fragment="cardCrearCuenta">
    <div class="card-front">
        <div class="card-Information">
            <p class="card-number">- - - - - - - -</p>
            <p class="card-expiry">MM/AA</p>
        </div>
        <div class="card-balance">
            <div class="saldo-disponible">
                <p>No tienes una cuenta disponible
                </p>
            </div>

            <a class="crear-cuenta" href="">Create una cuenta ya </a>
        </div>
    </div>
</div>