<nav th:fragment="Nav">
  <ul>
    <li><a href="#"><img src="./images/nav/home-1.svg" alt="Icono Inicio"></a></li>
    <li><a href="#"><img src="./images/nav/icono-movimiento-dinero.svg" alt="Icono de movimientos de dinero"></a></li>
    <li><a href="#"><img src="./images/nav/bolsillos.svg" alt="Icono de bolsillos"></a></li>
    <li><a href="#"><img src="./images/nav/icon-profile.svg" alt="icono del perfil"></a></li>
    <li><a href="#"><img src="./images/nav/icon-estadistica.svg" alt="icono de estadistica"></a></li>
    <li><a href="#"><img src="./images/nav/Iconusuarios.svg" alt="icono de usuarios"></a></li>
  </ul>
</nav>