<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acceso Denegado</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{./css/accesssDenied.css}">
</head>

<body>

<div class="lock"></div>
<div class="message">
    <h1>Acceso denegado </h1>
    <p>No tienes permiso para ver el contenido  de esta página </p>

</div>

<a href="javascript:history.back()">Volver</a>
</body>


</html>