<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/fontawesome-free-5.x.x-web/css/all.min.css">

    <link rel="stylesheet" type="text/css" th:href="@{./css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{./css/nav.css}">
    <title>Home</title>
</head>
<body>
    <header th:replace="components/header :: Header"></header>
    <main>
        <nav th:replace="components/nav :: Nav"></nav>
    </main>
</body>
</html>