<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/fontawesome-free-5.x.x-web/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- libreria de iconos -->
    <link rel="stylesheet" type="text/css" th:href="@{css/registroAndLogin.css}">
    <title>Registro</title>
</head>

<body>
<section class="sectionInformation">
    <header>
        <img th:src="@{images/iconBanco.png}" alt="Logo empresa">
        <h1> Makaia Bank</h1>
    </header>
    <div id="sectionInformationText">
        <h2>Bienvenido a Makaia Banck</h2>
        <p>Estamos emocionados de tenerte como parte de nuestra comunidad financiera.</p>
        <p> Para comenzar a aprovechar al máximo nuestra plataforma, te pedimos que ingreses los siguientes datos
            para crear tu perfil personal</p>
    </div>
</section>
<main>

    <h2>Registrarce</h2>

    <form th:action="@{registro/guardarUsuario}" th:object="${usuarioDto}" method="post" onsubmit="validateForm(event)">
        <div class="input-container">
            <input  class=" input-field user-icon" type="text" th:field="*{nombre}"  name="nombre" id="nombre-completo" placeholder="Nombre de Completo" >
            <span class="error-message" id="nombre-completo-error">Ingrese su nombre completo</span>
        </div>
        <div class="input-container">
            <input class="input-field email-icon" type="text" th:field="*{correo}"  name="correo" id="correo-electronico" placeholder="Correo electrónico">
            <span class="error-message" id="correo-electronico-error">Ingrese un correo electrónico válido</span>
        </div>
        <div class="input-container">
            <input class="input-field id-icon" type="text" th:field="*{id}"  name="documento"  id="numero-documento" placeholder="Número documento">
            <span class="error-message" id="numero-documento-error">Ingrese un número de documento válido</span>
        </div>
        <div class="input-container">
            <input class="input-field password-icon" type="password" th:field="*{contrasena}"  name="contrasena" id="contrasena"  placeholder="Contraseña">
            <span class="error-message" id="contrasena-error">Ingrese una contraseña válida <br> <br> * Debe tener mínimo una letra
                    minúscula, una letra mayúscula y un número, y  una longitud mínima de 8 caracteres </span>
            <i class="fa fa-eye icon" onclick="togglePassword()"></i>
        </div>

        <p>¿Tienes una cuenta? <a href="">Ingresa</a></p>

        <div class="container">
            <button type="submit" class="btnSubmit">Crear cuenta
            </button>
        </div>

    </form>

</main>
<script th:inline="javaScript">

        // Esta función se encarga de validar el formulario y retorna un valor booleano que indica si el formulario es válido o no para poder enviarlo
        function validateForm(event) {

            // Obtiene los elementos de los inputs del formulario
            const nombreCompletoInput = document.getElementById("nombre-completo");
            const correoElectronicoInput = document.getElementById("correo-electronico");
            const numeroDocumentoInput = document.getElementById("numero-documento");
            const contrasenaInput = document.getElementById("contrasena");

            // Define las expresiones regulares para cada input
            const nombreCompletoRegex =  /^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+$/// Verifica si una cadena contiene solo constras mayúsculas, minúsculas y espacios en blanco,permite que tenga la ñ y tíldes
            const correoElectronicoRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // verifica si una cadena es una dirección de correo electrónico válida.
            const numeroDocumentoRegex = /^[0-9]+$/; // verifica si una cadena contiene solo números.
            const contrasenaRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/; // verifica si una cadena contiene al menos una letra minúscula, una letra mayúscula y un número, y tiene una longitud mínima de 8 caracteres

            let isValid = true;

            // Valida cada input y actualiza el valor de isValid
            // Hace la verificación para cada input y por cada uno que no cumpla con la validación cambia el valor de isValid a false
            /*Al utilizar && isValid, se asegura de que el valor de isValid se actualice correctamente después de cada validación es decir despues de llamar la función llamar a la función validateInput(),
            y que el formulario solo se envíe si todas las validaciones son verdaderas.*/
            isValid = validateInput(nombreCompletoInput, nombreCompletoRegex) && isValid;
            isValid = validateInput(correoElectronicoInput, correoElectronicoRegex) && isValid;
            isValid = validateInput(numeroDocumentoInput, numeroDocumentoRegex) && isValid;
            isValid = validateInput(contrasenaInput, contrasenaRegex) && isValid;

            console.log(isValid);

            // Si el formulario no es válido, evita que se envíe
            if (isValid) {
                return true;
            } else {
                event.preventDefault(); // Evita que el formulario se envíe automáticamente al hacer clic en el botón de envío porque se usa para prevenir el comportamiento prederteminado del formulario
                return false;
            }


        }

        // Esta función se encarga de validar un input y retorna un valor booleano que indica si el input es válido o no
        function validateInput(inputField, regex) {

            const ERROR_MESSAGE_SELECTOR = "error";

              // Verifica si el valor del input cumple con la expresión regular
            if (!regex.test(inputField.value) || inputField.value == "") {

                setInputStyle(inputField, "red", "block",ERROR_MESSAGE_SELECTOR);

                if (inputField.id == 'contrasena') {
                    // Hay que hacerle algunos cambios en el posicionamiento al icono del ojo para que se vea bien cuando aparezcan los mensajer de error  porque sino se descuadra su posicionamiento
                    setPositionEyeIcon(ERROR_MESSAGE_SELECTOR);
                }
                return false;
            }
            else {
                // Si el valor del input cumple con la expresión regular, cambia el estilo del input y oculta el mensaje de error
                setInputStyle(inputField, "", "none",ERROR_MESSAGE_SELECTOR);
                return true;

            }

        }

        // Esta función se encarga de cambiar el estilo de un input y mostrar/ocultar el mensaje de error
        function setInputStyle(inputField, borderColor,display,ERROR_MESSAGE_SELECTOR) {

            document.getElementById(inputField.id + "-" + ERROR_MESSAGE_SELECTOR).style.display = display; // contiene el mensaje de error del input
            inputField.style.borderColor = borderColor;
        }

        // Esta función se encarga de ajustar la posición del icono del ojo en la contraseña
        function setPositionEyeIcon(ERROR_MESSAGE_SELECTOR) {
            // Obtiene los elementos de los mensajes de error de la contraseña y el número de documento, y el icono del ojo
            const errorMesaggeInputNumberDocument = document.getElementById("numero-documento" + "-" + ERROR_MESSAGE_SELECTOR);
            const errorMesaggeInputContrasena = document.getElementById("contrasena" +"-" + ERROR_MESSAGE_SELECTOR);
            const iconEye = document.getElementsByClassName("icon")[0];

            // Si ambos mensajes de error están visibles, ajusta la posición del icono del ojo
            if (errorMesaggeInputNumberDocument.style.display == "block" && errorMesaggeInputContrasena.style.display == "block") {
              iconEye.style.top = "30px";
            }
        }

        // Esta función se encarga de alternar la visibilidad de la contraseña
        function togglePassword() {
            const passwordInput = document.querySelector('.password-icon');
            const icon = document.querySelector('.icon');
            if (passwordInput.type === "password") {
                    // Si la contraseña está oculta, la muestra cambiando el tipo de input y cambia el icono del ojo
                passwordInput.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                    // Si la contraseña está visible, la oculta y cambia el icono del ojo
                passwordInput.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>
</body>

</html>